*{

    margin: 0;

    padding: 0;

    font-family: "Tenor Sans", sans-serif;

    color: whitesmoke;

}

header{

    display: flex;

    flex-direction: row;

    gap: 2rem;

    justify-content: center;

    color: white;

    padding: 1.5rem;

    font-size: 2rem;

}
@media(max-width:490px){
    header{
        font-size: 1rem;
    }
}

.mainbox{

    background-image: url(photo.jpg);

    min-height: 100vh;

    background-position: center;

    background-size: cover;

}

/* .services{

    border: 0.01rem solid grey;

} */
 .serviceList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

.serviceList li{

    border: 0.01rem solid grey;
    padding: 2rem;
    font-size: 1.2rem;
    list-style: none;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    /* min-height: 120px; */

}

.serviceList li dd{

    font-size: 0.8rem;

}

.serviceimage{

    width: clamp(50px, 6vw, 90px);

    aspect-ratio: 1;

    border-radius: 40%;

    overflow: hidden;

    flex-shrink: 0;

}

.serviceimage img{

    width: 125%;

    height: 125%;

    object-fit: cover;

    margin: -12.5%;

}

.serviceinfo{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    gap: 10px;

}
.booknow{
    padding: 0.7rem 1.5rem;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    background: rgba(162, 125, 32, 0.525);
    color: whitesmoke;
    font-family: "Tenor Sans", sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: auto;
}
.booknow:hover{
    background-color:grey ;
    padding: 0.8rem 1.6rem;
}
@media(max-width:490px){
    .serviceList li{
        font-size: 0.7rem;
    }
    .booknow{
        padding: 0.3rem 0.8rem;
    }
}